<% listings.models.forEach(function (listing) { %>
<article class="search-result-listing clear-fix">
  <div class="thumb-container">
    <a class="thumb" href="/listings/<%= listing.id %>">
      <% if (listing.main_pic_url) { %>
        <img src="<%= listing.main_pic_url %>">
      <% } else { %>
        NO PHOTO YET
      <% } %>
    </a>
  </div>

  <div class="listing-info">
    <div class="car-and-seller-container clear-fix">
      <a href="/listings/<%= listing.id %>"><%= listing.name %></a>
      <div class="seller">
        by <strong><%= listing.is_owner ? "OWNER" : "DEALER" %></strong>
      </div>
    </div>
    <div class="price"><%= listing.price %></div>

    <div class="location">
      <%= "#{listing.zip.city}, #{listing.zip.st}" %>
      <% if (listing.distance) { %>
        <%= listing.distance %> miles away
      <% } %>
    </div>

    <div class="post-date">
        Posted on <%= listing.post_date %> ago
    </div>
  </div>
</article>
<% }); %>