<div class="favoriting <%= listing.get('is_favorite') ? 'is-favorite' : '' %>">
  <div class="buttons">
    <span class="favorite fa-stack fa-lg" title="Add to favorites">
      <i class="fa fa-star-o fa-stack-1x"></i>
      <i class="fa fa-star-o fa-stack-1x"></i>
    </span>
    <span class="unfavorite fa-stack fa-lg" title="Remove from favorites">
      <i class="fa fa-star fa-stack-1x"></i>
      <i class="fa fa-star-o fa-stack-1x"></i>
    </span>
  </div>
  <img class="spinner" src="/assets/ajax-loader.gif">
</div>

<div class="thumb-container">
  <a class="thumb" href="/listings/<%= listing.id %>">
    <% if (listing.get('main_pic_url')) { %>
      <img src="<%= listing.mainPicURL() %>">
    <% } else { %>
      NO PHOTO YET
    <% } %>
  </a>
</div>

<hgroup class="listing-info">
  <h3 class="line clear-fix">
    <a href="listings/<%= listing.id %>" class="listing-show">
      <%= listing.get('ymm') %>
    </a>
    <div class="price">
      <% if (listing.get('deal_ratio')) { %>
      Deal: <%= listing.get('deal_ratio') %>%
      <% } %>

      <%= listing.price() %></div>
  </h3>

  <h4 class="line">
    by
    <strong class="user-written">
      <%= listing.seller().get('is_dealer') ? "DEALER" : "OWNER" %>:
    </strong>
    <span>"<%= listing.truncatedTitle(35) %>"</span>
  </h4>

  <h5 class="line">
    <div class="location">
      <%= listing.get('location') %>
    </div>

    <div class="post-date">
      Posted
      <time class="timeago" datetime="<%= listing.get('post_date') %>"></time>
    </div>
  </h4>
</hgroup>
