<table>
  <tr>
    <td>
      <label for="search-year_from">Year</label>
      <select class="search-year" id="search-year_from" name="year_from">
        <option value="">from</option>
        <% CarListing.years.forEach(function (year) { %>
        <option value="<%= year %>"><%= year %></option>
        <% }); %>
      </select>
      ▰
      <select class="search-year" id="search-year_to" name="year_to">
        <option value="">to</option>
        <% CarListing.years.forEach(function (year) { %>
        <option value="<%= year %>"><%= year %></option>
        <% }); %>
      </select>
    </td>
  </tr>
  <tr>
    <td class="contains-tooltip make">
      <select name="make_id" id="search-make_id">
        <option value="">Make</option>
        <% CarListing.subdivisions.models.forEach(function (make) { %>
        <option value="<%= make.id %>"
          <%= (CarListing.searchParams.make_id === make.id) ? 'selected' : '' %>>
          <%= make.escape('name') %>
        </option>
        <% }); %>
      </select>
    </td>
  </tr>
  <tr>
    <td class="contains-tooltip contains-mask">
      <div class="tooltip">
        Select a make first, please.
        <div class="triangle"></div>
      </div>
      <select name="model_id" id="search-model_id" title="Select make first">
        <option value="">Model</option>
      </select>
      <div class="mask"></div>
    </td>
  </tr>
  <tr>
    <td>
      <label for="search-price_from">Price</label><br>
      <label for="search-price_from">$</label>
      <input placeholder="from"
                    type="text"
                    name="price_from"
                 pattern="[0-9]*"
                      id="search-price_from"
               maxlength="5"
                   value="">
                   ▰
      <label for="search-price_to">$</label>
      <input placeholder="to"
                    type="text"
                    name="price_to"
                 pattern="[0-9]*"
                      id="search-price_to"
               maxlength="6"
                   value="">
    </td>
  </tr>
  <tr>
    <td>
      <label for="search-distance">Distance</label><br>
      <input placeholder="any"
                    type="text"
                    name="dist"
                 pattern="[0-9]*"
                      id="search-distance"
               maxlength="4"
                   value="">
      <label for="search-distance">miles</label>
      <label for="search-zip">from</label>
      <input placeholder="zip"
                    type="text"
                    name="zip"
                 pattern="[0-9]*"
                      id="search-zip"
               maxlength="5"
                   value="">
    </td>
  </tr>
  <tr>
    <td>
      <label for="search-sort_by">Sort by</label>
      <select name="sort" id="search-sort_by">
        <option value="">random</option>
        <% CarListing.sortOptions.forEach( function (option) { %>
        <option value="<%= option[1] %>"><%= option[0] %></option>
        <% }); %>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <input type="submit" value="Search">
    </td>
  </tr>
</table>

