<article class="listing clear-fix">
  <div class="favoriting <%= 'is-favorite' if is_favorite?(listing) %>">
    <div class="buttons">
      <span class="favorite fa-stack fa-lg" title="Add to favorites">
        <i class="fa fa-star-o fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
      <span class="unfavorite fa-stack fa-lg" title="Remove from favorites">
        <i class="fa fa-star fa-stack-1x"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
      </span>
    </div>
    <img class="spinner" src="/assets/ajax-loader.gif">
  </div>

  <div class="thumb-container">
    <a class="thumb" href="/listings/<%= listing.id %>">
      <% if !listing.pics.empty? %>
        <img src="<%= listing.pics.first.file.url %>">
      <% else %>
        NO PHOTO YET
      <% end %>
    </a>
  </div>

  <hgroup class="listing-info">
    <h3 class="line clear-fix">
      <a href="/listings/<%= listing.id %>" class="listing-show">
        <%= listing.ymm %>
      </a>
      <div class="price">
        <% if listing.respond_to?(:deal_ratio) %>
          <% deal_ratio = (listing.deal_ratio.to_f * 100).to_i %>
          <% if deal_ratio > 0 %>
          Deal: <%= deal_ratio %>%
          <% end %>
        <% end %>

        <%= number_to_currency(listing.price, precision: 0) %>
      </div>
    </h3>

    <h4 class="line">
      by
      <strong class="user-written">
        <%= listing.by_owner? ? "OWNER" : "DEALER" %>:
      </strong>
      <span>"<%= listing.title.try(:truncate, 35) %>"</span>
    </h4>

    <h5 class="line">
      <div class="location">
        <%= listing.location %>
      </div>

      <div class="post-date">
        Posted
        <time class="timeago" datetime="<%= listing.post_date_iso8601 %>">
          <%= time_ago_in_words(listing.created_at) %>
        </time>
      </div>
    </h4>
  </hgroup>
</article>