<article class="search-result-listing clear-fix">
  <div class="thumb-container">
    <%= link_to((listing.main_pic ?
                image_tag(listing.main_pic.file.url) : "NO PHOTO YET"),
                listing, class: "thumb")
    %>
  </div>

  <div class="listing-info">
    <div class="car-and-seller-container clear-fix">
      <%= link_to listing.ymm, listing %>
      <div class="seller">
        by <strong><%= listing.is_owner ? "OWNER" : "DEALER" %></strong>
      </div>
    </div>
    <div class="price"><%= number_to_currency(listing.price, precision: 0) %></div>

    <div class="location">
      <%= "#{listing.zip.city}, #{listing.zip.st}" %>
      <% if listing.respond_to?(:distance) %>
        <%= "(#{pluralize(listing.distance.to_f.round, 'mile')} away)" %>
      <% end %>
    </div>

    <div class="post-date">
        <%= "Posted #{time_ago_in_words(listing.post_date)} ago" %>
    </div>
  </div>
</article>