<table>
  <tr>
    <td>
      <label for="search-year_from">Year</label>
      <% search_year_from = search_params[:year_from] %>
      <select class="search-year" id="search-year_from" name="year_from"
        class="<%= 'selected user-written' if search_year_from %>">
        <option value="">from</option>
        <% available_years.each do |year| %>
        <option value="<%= year %>"
          <%= 'selected' if search_year_from == year %>>
          <%= year %>
        </option>
        <% end %>
      </select>
      ▰
      <% search_year_to = search_params[:year_to] %>
      <select class="search-year" id="search-year_to" name="year_to"
        class="<%= 'selected user-written' if search_year_to %>">
        <option value="">to</option>f
        <% available_years.each do |year| %>
        <option value="<%= year %>"
          <%= 'selected' if search_year_to == year %>>
          <%= year %>
        </option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr>
    <td class="contains-tooltip make">
      <% search_make_id = search_params[:make_id] %>
      <select name="make_id" id="search-make_id"
        class="<%= 'selected user-written' if search_make_id %>">
        <option value="">Make</option>
        <% Subdivision.makes.each do |make| %>
        <option value="<%= make.id %>"
          <%= 'selected' if search_make_id == make.id %>>
          <%= make.name %>
        </option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr>
    <td class="contains-tooltip contains-mask">
      <div class="tooltip">
        Select a make first, please.
        <div class="triangle"></div>
      </div>
      <select name="model_id" id="search-model_id" title="Select make first"
        class="<%= 'selected user-written' if search_params[:model_id] %>">
        <option value="">Model</option>
        <% if search_make_id %>
          <% Subdivision.where(parent_id: search_make_id).each do |model| %>
          <option value="<%= model.id %>"
            <%= 'selected' if model.id = search_params[:model_id] %>>
            <%= model.name %>
          </option>
          <% end %>
        <% end %>
      </select>
      <div class="mask"></div>
    </td>
  </tr>
  <tr>
    <td>
      <label for="search-price_from">Price</label><br>
      <label for="search-price_from">$</label>
      <input placeholder="from"
                    type="text"
                    name="price_from"
                 pattern="[0-9]*"
                      id="search-price_from"
               maxlength="5"
                   value="<%= search_params[:price_from] %>">
                   ▰
      <label for="search-price_to">$</label>
      <input placeholder="to"
                    type="text"
                    name="price_to"
                 pattern="[0-9]*"
                      id="search-price_to"
               maxlength="6"
                   value="<%= search_params[:price_to] %>">
    </td>
  </tr>
  <tr>
    <td>
      <label for="search-distance">Distance</label><br>
      <input placeholder="any"
                    type="text"
                    name="dist"
                 pattern="[0-9]*"
                      id="search-distance"
               maxlength="4"
                   value="<%= search_params[:dist] %>">
      <label for="search-distance">miles</label>
      <label for="search-zip">from</label>
      <input placeholder="zip"
                    type="text"
                    name="zip"
                 pattern="[0-9]*"
                      id="search-zip"
               maxlength="5"
                   value="<%= search_params[:zip] %>">
    </td>
  </tr>
  <tr>
    <td>
      <label for="search-sort_by">Sort by</label>
      <select name="sort" id="search-sort_by"
        class="<%= 'selected user-written' if search_params[:sort_by] %>">
        <option value="">random</option>
        <% Listing::SORT_OPTIONS.each do |(label, val)| %>
        <option value="<%= val %>"
          <%= 'selected' if search_params[:sort_by] == val %>>
          <%= label %>
        </option>
        <% end %>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      <input type="submit" value="Search">
    </td>
  </tr>
</table>
