<div>
<header class="page-header">
  <h1><%= @listing.ymm %></h1>

  <h3><%= @listing.title %></h3>
</header>

<section class="top-info clear-fix">
  <section class="pics">
  <% pics = @listing.pics.to_a %>
  <% if pics.empty? %>
    <p>Sorry, no pics :(</p>
  <% else %>
    <div class="main-pic">
      <% main_pic = pics.first %>
      <img src="<%= main_pic.file.url %>" class="car-pic"
           data-id="<%= main_pic.id %>">
    </div>
    <% num_thumb_rows = pics.length / 7 + 1 %>
    <% num_thumb_rows.times do |row_i| %>
    <ul class="thumbs clear-fix">
      <% row_pics = pics[(row_i * 7)...((row_i + 1) * 7)] %>
      <% row_pics.each do |pic| %>
      <li>
        <img src="<%= pic.file.url %>" class="car-pic"
             data-id="<%= pic.id %>">
      </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
  </section>


  <section class="info">
    <article class="car-info">
      <header>What it is:</header>

      <dl class="info">
        <dt>Miles</dt>
        <dd>
        <% if @listing.miles %>
          <%= number_with_delimiter(@listing.miles)  %>
        <% else %>
          N/A
        <% end %>
        </dd>

        <dt>Transmission</dt>
        <dd><%= @listing.transmission || 'N/A' %></dd>

        <dt>VIN</dt>
        <dd><%= @listing.vin || 'N/A' %></dd>

        <dt>Seller</dt>
        <dd>
          <a href="/sellers/<%= @listing.seller_id %>">
            <% if @listing.by_owner? %>
              BY OWNER
            <% else %>
              DEALER
            <% end %>

            <%= @listing.seller.name %>
          </a>
        </dd>

        <dt>Asking</dt>
        <dd><%= number_to_currency(@listing.price, precision: 0) %></dd>

        <dt>Contact</dt>
        <dd><span><a class="phone" href="#">Click here!</a></span></dd>
      </dl>
    </article>
  </section>
</section>

<section class="description">
  <h2>Seller Description</h2>
  <p><%= @listing.description %></p>
</section>

</div>

<%= render partial: 'shared/backbone_kickoff' %>