<h1><%= @listing.name %></h1>

<h3><%= @listing.title %></h3>

<section class="top-info clear-fix">
  <section class="pics">
  <% if @listing.pics.empty? %>
    <p>Sorry, no pics :(</p>
  <% else %>
    <div class="main-pic">
      <%= image_tag @listing.main_pic.file.url, class: "car-pic" %>
    </div>
    <ul class="thumbs clear-fix">
      <% @listing.pics.each do |thumb| %>
      <li><%= image_tag thumb.file.url, class: "car-pic" %></li>
      <% end %>
    </ul>
  <% end %>
  </section>


  <section class="info">
    <article class="car-info">
      <header>What it is:</header>

      <ul>
        <li>
          <label><strong>Year:</strong></label>
          <span><%= @listing.year %></span>
        </li>
        <li>
          <label><strong>Make:</strong></label>
          <span><%= @listing.make.name %></span>
        </li>
        <li>
          <label><strong>Model:</strong></label>
          <span><%= @listing.model.name %></span>
        </li>
        <li>
          <label><strong>Miles:</strong></label>
          <span><%= @listing.miles || 'N/A' %></span>
        </li>
        <li>
          <label><strong>Transmission:</strong></label>
          <span><%= @listing.transmission %></span>
        </li>
        <li>
          <label><strong>VIN:</strong></label>
          <span><%= @listing.vin %></span>
        </li>
        <li>
          <label><strong>Seller:</strong></label>
          <span><%= @listing.is_owner ? "BY OWNER" : "DEALER" %></span>
        </li>
        <li>
          <label><strong>Contact:</strong></label>
          <span><%= number_to_phone(@listing.phone) %></span>
        </li>
        <li>
          <label><strong>Asking:</strong></label>
          <span><%= number_to_currency(@listing.price, precision: 0) %></span>
        </li>

      </ul>
    </article>
  </section>
</section>

<section class="description">
  <h2>Seller Description</h2>
  <p><%= @listing.description %></p>
</section>



<script>
$(document).ready(function() {
  var $lightbox = $("div.lightbox");
  var totalPics = <%= @listing.pics.count %>;
  var currentPic = 1;

  var width = <%= @listing.pics.count * 600 %>
  $("div.viewport > ul").css("width", width);
  <% @listing.pics.each do |pic| %>
    $("div.lightbox ul").append('<li><%= image_tag pic.file.url %></li>');
  <% end %>

  $("img.car-pic").click(function() {
    $("body").addClass("no-scroll");
    $lightbox.addClass("show");
    setViewportCSS();
  });

  $("div.lightbox").click(function(event) {
    exitLightbox();
  });

  $(".viewport").click(function(event){
    event.stopPropagation();
  });

  $("#scroll-viewport-left").click(moveViewport.bind(this, 600));
  $("#scroll-viewport-right").click(moveViewport.bind(this, -600));

  $(window).keydown(function(event) {
    if (event.keyCode == 27) { exitLightbox() }
    else if (event.keyCode == 37) { moveViewport(600) }
    else if (event.keyCode == 39) { moveViewport(-600) }
  });

  function setViewportCSS() {
    var imgHeight = $($("div.viewport img")[currentPic-1]).css("height");
    $("div.viewport").css("height", imgHeight);

    $("div.viewport").css("margin", function() {
      var lightboxHeight = parseInt($(".lightbox").css("height"));
      var newMargin = (lightboxHeight - parseInt(imgHeight))/2;
      if (newMargin < 0) { newMargin = 50 }

      return "" + newMargin + "px auto";
    });
  };

  function exitLightbox() {
    $lightbox.removeClass("show");
    $("body").removeClass("no-scroll");
  };

  function moveViewport(delta) {
    if ((delta > 0 && currentPic != 1) || (delta < 0 && currentPic != totalPics) && $lightbox.hasClass("show")) {
      if (delta > 0) { currentPic-- }
      else { currentPic++ }
      $("div.viewport > ul").css("left", function(i, val) {
        return ""+(parseInt(val) + delta)+"px";
      });
    }

    setViewportCSS();
  };
});
</script>



