<header class="page-header">
  <h1>
    Seller Profile
    <% if (user.name()) { %>
    - <%= user.name() %>
    <% } %>
  </h1>
</header>

<section id="sidebar">
  <header>
      <h3>Seller Info</h3>
  </header>

  <dl class="info">
  <% if (user.get('is_dealer')) { %>
    <dt>Seller type</dt>
    <dd>DEALERSHIP</dd>
    <dt>Address</dt>
    <dd><%= user.escape('address_line_1') %></dd>
    <% if (user.get('address_line_2')) { %>
    <dd><%= user.escape('address_line_2') %></dd>
    <% } %>
    <dd>
      <%= user.escape('city') %>,
      <%= user.escape('state') %> <%= user.escape('zip') %>
    </dd>
  <% } else { %>
    <dt>Seller type</dt>
    <dd>PRIVATE SELLER</dd>

    <% if (user.get('location')) { %>
    <dt>Location</dt>
    <dd><%= user.escape('location') %></dd>
    <% } %>
  <% } %>
    <dt>Contact</dt>
    <dd>
      <span><a class="phone" href="#">Phone</a></span>
    </dd>
  </dl>
</section>

<section id="main-content">
  <header>
    <h3>Seller's Listings</h3>
  </header>
  <section class="listings"></section>
</section>