<h1>Welcome, <%= user.fname %>!</h1>
<p>
  You still haven't activated your account! You can activate it by clicking on the link in the activation email we sent to <%= user.email %>.
</p>

<h3>Haven't received the activation email yet?</h3>

<% seconds_since_sent = Time.now - user.activation_email_sent_at %>
<% if seconds_since_sent < (60 * 30) %>
  <p>
    Please allow up to 30 minutes for the email to deliver if you haven't received it yet. If you still haven't received it after 30 minutes, check back here for a link to send another activation email.
  </p>
<% else %>
  <p>
    Click <%= button_to("here",
              resend_initial_activation_email_for_user_url(user),
              method: :post) %>
    to send another activation email to <%= user.email %> if you still haven't received it.
  </p>
<% end %>

<p>Or, if we don't have the right email address, change it here:<span>
<%= form_for(user, url: user_url(user), method: :put) do |f| %>
  <%= email_field :user, :email, placeholder: "email" %>
  <%= f.submit "Change email address" %>
<% end %>
</p>