<section class="signin">
  <h1>Reset Password</h1>

  <form class="signin-form" action="<%= reset_password_url %>" method="post">

    <input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">

    <input type="hidden" name="_method" value="put">

    <input type="hidden" name="forgot_password_token"
      value="<%= params[:forgot_password_token] %>">

    <% errors = @user.errors[:password] %>
    <div class="<%= 'field-with-errors' unless errors.empty? %>">

      <% unless errors.empty? %>
        <p><%= "Password #{ errors.to_sentence }." %></p>
        <br>
      <% end %>

      <input type="password" name="password[new_password]"
        placeholder="New password">

      <input type="password" name="password[password_confirmation]"
        placeholder="Password confirmation">
    </div>

    <div class="links-line large">
      <input type="submit" value="CHANGE PASSWORD">
    </div>

  </form>

</section>