<header class="page-header">
  <h1><%= listing.get('ymm') %></h1>

  <h3><%= listing.get('title') %></h3>
</header>

<section class="top-info clear-fix">
  <section class="pics">
  <% var pics = listing.pics(); %>
  <% if (pics.length === 0) { %>
    <p>Sorry, no pics :(</p>
  <% } else { %>
    <div class="main-pic">
      <% var mainPic = pics.first() %>
      <img src="<%= mainPic.get('url') %>" class="car-pic"
           data-id="<%= mainPic.id %>">
    </div>
    <% var numThumbRows = parseInt(pics.length / 7 + 1) %>
    <% _( numThumbRows ).times(function (row_i) { %>
    <ul class="thumbs clear-fix">
      <% var rowPics = pics.models.slice((row_i * 7), (row_i + 1) * 7); %>
      <% _( rowPics ).each(function (pic) { %>
      <li>
        <img src="<%= pic.get('url') %>" class="car-pic"
             data-id="<%= pic.id %>">
      </li>
      <% }); %>
    </ul>
    <% }); %>
  <% } %>
  </section>


  <section class="info">
    <article class="car-info">
      <header>What it is:</header>

      <dl class="info">
        <dt>Miles</dt>
        <dd><%= listing.miles() || 'N/A' %></dd>

        <dt>Transmission</dt>
        <dd><%= listing.get('transmission') || 'N/A' %></dd>

        <dt>VIN</dt>
        <dd><%= listing.get('vin') || 'N/A' %></dd>

        <dt>Seller</dt>
        <dd>
          <a href="users/<%= listing.seller().id %>">
            <% if (listing.byOwner()) { %>
              BY OWNER
            <% } else { %>
              DEALER
            <% } %>

            <%= listing.seller().name() %>
          </a>
        </dd>

        <dt>Asking</dt>
        <dd><%= listing.price() %></dd>

        <dt>Contact</dt>
        <dd><span><a class="phone" href="#">Click here!</a></span></dd>
      </dl>
    </article>
  </section>
</section>

<section class="description">
  <h2>Seller Description</h2>
  <p><%= listing.get('description') %></p>
</section>