<!DOCTYPE html>
<html>
<head>
  <title><%= @title %>Tommy's Cars</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Open+Sans">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <script async src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

</head>
<body>

  <section id="lightbox"></section>
  <header>
    <h1><%= image_tag "car_icon.png" %>TOMMY'S CARS</h1>

    <% if params[:controller] != "user_sessions" %>
    <div class="signin">
      <% if user_signed_in? %>
        <%= button_to "sign out", user_session_url, method: :delete %>
      <% else %>
      <nav class="signin-links">
        <%= link_to "SIGN IN", new_user_session_url, class: "signin-form-link" %>
        | <%= link_to "JOIN", new_user_url %>
      </nav>
        <%= render partial: "user_sessions/form" %>
        <script>
        $(document).ready(function () {
          $(".signin-form-link").click(function (event) {
            event.preventDefault();
            $("nav.signin-links").toggle();
            $("form.signin-form").toggle();
          });
        });
        </script>
      <% end %>
    </div>
    <% end %>

    <nav>
      <ul>
        <li><a href="<%= root_url %>" class="home">HOME</a></li>
        <li><a href="#">about</a></li>
        <li><%= link_to "sell your car", new_listing_url %></li>
        <li>
          <% if user_signed_in? %>
            <a href="<%= dashboard_url %>" class="dashboard">
              DASHBOARD
            </a>
          <% else %>
            <a href="<%= new_user_session_url %>">SIGN IN</a>
          <% end %>
        </li>
      </ul>
    </nav>
    <% flash.each do |type, msg| %>
    <span class="flash <%= type.to_s.downcase %>">
      <strong><%= type.to_s.titleize %>:</strong> <%= msg %>
    </span>
    <% end %>
  </header>


  <main class="clear-fix" id="content">
    <%= yield %>
  </main>
</body>
</html>
