<!DOCTYPE html>
<html>
<head>
  <title>CarListing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Open+Sans">
</head>
<body>
  <% if Rails.env.development? %>
    <%= debug params %>
    <hr>
  <% end %>

  <div class="lightbox">
    <div class="viewport">
      <ul class="clearfix"></ul>
    </div>
  </div>
  <header>
    <h1>TOMMY'S CARS</h1>

    <% if params[:controller] != "user_sessions" %>
    <div class="signin">
      <% if user_signed_in? %>
        <%= button_to "sign out", user_session_url, method: :delete %>
      <% else %>
      <nav class="signin-links">
        <%= link_to "SIGN IN", new_user_session_url, class: "signin-form-link" %>
        | <%= link_to "JOIN", new_user_url %>
      </nav>
        <%= render partial: "user_sessions/form" %>
        <script>
        $(document).ready(function () {
          $(".signin-form-link").click(function (event) {
            event.preventDefault();
            $("nav.signin-links").toggle();
            $("form.signin-form").toggle();
          });
        });
        </script>
      <% end %>
    </div>
    <% end %>

    <nav>
      <ul>
        <li><%= link_to "HOME", root_url %></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
        <li><%= user_signed_in? ? link_to("DASHBOARD", current_user) : link_to("sign IN", new_user_session_url) %></li>
      <ul>
    </nav>
    <% flash.each do |type, msg| %>
    <span class="flash <%= type.to_s.downcase %>">
      <strong><%= type.to_s.titleize %>:</strong> <%= msg %>
    </span>
    <% end %>
  </header>


  <section class="clear-fix" id="content">
    <%= yield %>
  </section>
</body>
</html>
